# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
# test.js
# /public/create-user.html
# src/routes/person.js
# .vscode
# package-lock.json

# production
/build


# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# react.js
# src/components
# src/App.css
# src/App.js
# src/App.test.js
# src/index.css
# src/index.js
# src/logo.svg
# src/registerServiceWorker.js
# public/index.html
# public/manifest.json
# public/favicon.ico
